<section class="downloadourapp-section">
    <div class="container">
        <div class="image-box">
            <img src="images/phoneapp.svg"
                 alt="image of taskmaster application on a smartphone" />
        </div>
        <div class="text-and-buttons-box">
            <div class="header-text">
                <h1>Download Our App for Any Devices:</h1>
            </div>
            <div class="app-store app-formating">
                <div class="app-store-stars">
                    <p>App Store</p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="rating-download">
                    <div class="rating">
                        <h2>Editor's Choice</h2>
                        <p>rating 4.7, 187K+ reviews</p>
                    </div>
                    <div class="app-image">
                        <a href="#">
                            <img src="images/appstore.svg" alt="image of appstore" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="google-play app-formating">
                <div class="app-store-stars">
                    <p>Google Play</p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="rating-download">
                <div class="rating">
                    <h2>App of the Day</h2>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <div class="app-image">
                    <a href="#">
                        <img src="images/googleplay.svg"
                             alt="image of google play" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>