<section class="manageyourwork-section">
    <div class="container">
        <img src="images/taskmaster-dashboard.svg"
             alt="image of the dashboard tab in task master application" />
        <div class="text-section">
            <h1>Manage Your Work</h1>
            <div class="text-flex">
                <p>
                    <i class="text-gap fa-regular fa-square-check"></i>Powerful
                    project management
                </p>
            </div>
            <div class="text-flex">
                <p>
                    <i class="text-gap fa-regular fa-square-check"></i>Transparent
                    work management
                </p>
            </div>
            <div class="text-flex">
                <p>
                    <i class="text-gap fa-regular fa-square-check"></i>Manage work
                    & focus on the most important tasks
                </p>
            </div>
            <div class="text-flex">
                <p>
                    <i class="text-gap fa-regular fa-square-check"></i>Track your
                    progress with interactive charts
                </p>
            </div>
            <div class="text-flex">
                <p>
                    <i class="text-gap fa-regular fa-square-check"></i>Easiest way
                    to track time spent on tasks
                </p>
            </div>
            <div class="button-flex">
                <a href="#" class="btn-theme-s">
                    Learn More <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>