<section class="switchbetweenmodes-section">
    <div class="darkandlight">
        <div class="container">
            <div class="text-box">
                <div class="light-text">
                    <h1>Switch Between</h1>
                </div>
                <div class="dark-text">
                    <h1>Light & Dark Mode</h1>
                </div>
            </div>
            <img src="./images/Macbook-Full.svg"
                 alt="image of a macbook pro with task master application running" />
        </div>
    </div>
</section>