@using static Frontend.Components.Sections.HomeSections.Features
<div class="box">
    <img src="@Model.ImageSrc" alt="@Model.ImageAltText" />
    <h5>@Model.Title</h5>
    <p>@Model.Description</p>
</div>

@code {
    [Parameter]
    public Feature? Model { get; set; }
}
