@inherits LayoutComponentBase
@layout AccountLayout

    <section class="account-details">
        <div class="container">
            <aside>
                <AccountProfileAvatar />
                <ManageNavMenu />
            </aside>
            <AccountDetails/>

        </div>
    </section>


@code {
}